* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serifs;
}

body {
    background: #fafafa;
    color: #27292f;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 239, 239);
    padding-bottom: 2px;
}

header a {
    color: #27292f;
}

#data-container li {
    padding: 10px;
}

button {
    background-color: transparent;
    box-shadow: 0px 1px 0 0 rgb(227, 227, 227);
    border-radius: 3px;
    border: 0;
    padding: 5px 0 3px 0;
    opacity: 60%;
    font-size: 1em;
    margin-top: 2px;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 100%;
}

.buttons {
    display: flex;
    gap: 0.6em;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0 10px;
}

.entry {
    padding: 10px 2px;
    transition: box-shadow 0.1s;
}

.entry:nth-child(even) {
    background-color: rgb(240, 239, 239);
}

.date {
    font-size: 0.7em;
    -webkit-text-fill-color: #878787;
    font-style: italic;
}

.loved {
    color: rgb(248, 54, 151);
}

.delete {
    color: #a1a2a8;
}

.link {
    color: #27292f;
    font-size: larger;
    transition: color 0.1s;
}

.link:active {
    color: #27292f92;
}

.link:hover {
    color: #585d6e;
}

#headingg {
    padding: 0 10px;
}

.entry:focus {
    box-shadow: inset 0 0 0 2px #1da11d;
}

li a:focus {
    display: inline-block;
    margin-top: 5px;
    font-style: italic;
    border-bottom: 2px solid #1da11d;
}
