* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    font-size: large;
}

body {
    background: #fafafa;
    color: #27292f;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: rgb(227, 227, 227);
}

header a {
    color: #27292f;
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
    }
}

button {
    /* color: #27292f75; */
    background-color: #fafafa;
    box-shadow: 0px 1px 0 0 rgb(227, 227, 227);
    border-radius: 3px;
    border: 0;
    padding: 2px 5px;
    opacity: 60%;
}

button:hover {
    opacity: 100%;
}

#data-container {
    padding: 0 10px;
}

.buttons {
    display: flex;
    gap: 0.6em;
    margin: 5px 0 18px 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0 10px;
}

.entry {
    margin-bottom: 1em;
}

.date {
    font-size: 0.7em;
    -webkit-text-fill-color: #878787;
    font-style: italic;
}

.loved {
    color: rgb(248, 54, 151);
    font-style: italic;
}

.delete {
    color: #a1a2a8;
    font-style: italic;
}

.link {
    color: #27292f;
}

.link:active {
    color: #27292f92;
}

.link:hover {
    font-style: italic;
}

#headingg {
    padding: 0 10px;
}
